<!doctype html>
<html lang="{{t lang 'en'}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="{{t lang 'Alex Kuehne'}}. {{t lang 'Software engineer, specialized in web, front end and UI for projects, freelance and consultancy'}}."
    />

    <link rel="alternate" href="https://alex-kuehne.com/en/" hreflang="en" />
    <link rel="alternate" href="https://alex-kuehne.com/de/" hreflang="de" />

    <link rel="preload" href="/alex-transparent.webp" as="image" />

    <link
      rel="preload"
      href="/Fira Sans Condensed/fira-sans-condensed-latin-300-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/Fira Sans Condensed/fira-sans-condensed-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/Fira Sans Condensed/fira-sans-condensed-latin-500-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{{t lang "Alex Kuehne"}} – Frontend Software Engineer</title>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "{{t lang "Alex Kuehne"}}",
        "jobTitle": "Frontend Software Engineer",
        "image": "https://www.alex-kuehne.com/alex-portrait.webp",
        "url": "https://www.alex-kuehne.com/",
        "sameAs": [
          "https://github.com/kraftwer1",
          "https://x.com/alexkuehne",
          "https://stackoverflow.com/users/1731095/kraftwer1",
          "https://www.ost.ch/de/person/alexander-kuehne-5533"
        ]
      }
    </script>
  </head>

  <body>
    <div class="background"></div>

    <main class="main">
      <section class="page intro">
        <div class="portrait fade-in fade-in--mobile-only">
          <img
            class="fade-in fade-in--desktop-only"
            src="/alex-transparent.webp"
            alt="Portrait"
          />
        </div>

        <div class="content">
          <h1 class="fade-in">{{t lang "Alex Kuehne"}}</h1>
          <h2 class="fade-in h3">Frontend Software Engineer</h2>

          <a href="mailto:info@alex-kuehne.com" class="link-block fade-in"
            ><img
              src="/iconoir/send-mail.svg"
              alt="{{t lang 'Send mail'}}"
            />info@alex-kuehne.com</a
          >

          <a href="/cv-{{lang}}.pdf" class="link-block fade-in hidden-on-print"
            ><img
              src="/iconoir/cloud-download.svg"
              alt="{{t lang 'Open as PDF'}}"
            />PDF</a
          >
        </div>

        <a href="/{{t lang 'de'}}/" class="language fade-in hidden-on-print"
          ><img src="/iconoir/language.svg" alt="{{t lang 'Language'}}" />{{t
          lang "de"}}</a
        >
      </section>

      <section class="fade-in page">
        <div class="content">
          <h2 class="title">{{t lang "About me"}}</h2>

          <p class="margin">
            «{{t lang "As a software engineer of passion, I’m enthusiastic about
            realising visions and improve them continuously. With innovation,
            precision, elegance and, of course, team spirit!"}}»
          </p>

          <ul class="icons">
            <li>
              <img
                src="/iconoir/city.svg"
                alt="{{t lang 'Professional experience'}}"
                class="icon"
              />{{t lang "20 years of professional experience"}}
            </li>

            <li>
              <img
                src="/iconoir/map-pin.svg"
                alt="{{t lang 'Location'}}"
                class="icon"
              />{{t lang "Zurich"}}
            </li>

            <li>
              <img
                src="/iconoir/language.svg"
                alt="{{t lang 'Languages'}}"
                class="icon"
              />{{t lang 'German and English'}}
            </li>

            <li>
              <img
                src="/iconoir/learning.svg"
                alt="{{t lang 'Lecturer'}}"
                class="icon"
              />{{t lang "Lecturer Eastern Switzerland UAS"}}
            </li>

            <li>
              <img
                src="/iconoir/heart.svg"
                alt="{{t lang 'Civil status'}}"
                class="icon"
              />{{t lang "Married"}}
            </li>

            <li>
              <img
                src="/iconoir/group.svg"
                alt="{{t lang 'Family'}}"
                class="icon"
              />{{t lang "Family father"}}
            </li>

            <li>
              <img
                src="/iconoir/birthday-cake.svg"
                alt="{{t lang 'Date of birth'}}"
                class="icon"
              />20.01.1986
            </li>
          </ul>
        </div>
      </section>

      <section class="fade-in page">
        <div class="content">
          <h2 class="title">{{t lang "Skills"}}</h2>

          <ul class="bullets">
            <li>
              <h3>{{t lang "Development"}}</h3>
              <p>TypeScript, HTML, CSS, React, etc.</p>
              <p>Git, Bash, Node, CI/CD, TDD</p>
            </li>

            <li>
              <h3>{{t lang "Architecture"}}</h3>
              <p>{{t lang "Conception, analysis, design, consulting"}}</p>
              <p>{{t lang "Strategy, processes, recruiting"}}</p>
            </li>

            <li>
              <h3>{{t lang "Leadership"}}</h3>

              <p>
                {{t lang "Technical management of agile development teams"}}
              </p>

              <p>{{t lang "Intermediary for management and stakeholders"}}</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="fade-in page testimonials hidden-on-print">
        <div class="content">
          <h2 class="title">Testimonials</h2>

          <p class="margin">
            {{t lang "«The truth is in the code». Here are two of my projects –
            from developer to developer"}}.
          </p>

          <ul class="teasers">
            <li>
              <h3>Online-CV</h3>

              <p>
                {{t lang "My Online-CV, freely available, sharing is caring"}}!
              </p>

              <p>
                <img
                  src="/iconoir/settings.svg"
                  alt="{{t lang 'Technologies'}}"
                  class="icon"
                />HTML, CSS, TypeScript, Vite, Handlebars
              </p>

              <p>
                <a href="//github.com/kraftwer1/cv"
                  ><img src="/iconoir/github.svg" alt="GitHub" />Code</a
                >
              </p>

              <img src="/online-cv.svg" class="image" alt="Online-CV" />
            </li>

            <li>
              <h3>Tetrez</h3>

              <p>
                {{t lang "A Tetris clone in 3D, inspired by Rez and its
                dynamically generated BGM, based on the playing behavior"}}.
              </p>

              <p>
                <img
                  src="/iconoir/settings.svg"
                  alt="{{t lang 'Technologies'}}"
                  class="icon"
                />TypeScript, Three.js
              </p>

              <p>
                <a href="//github.com/kraftwer1/tetrez"
                  ><img src="/iconoir/github.svg" alt="GitHub" />Code</a
                >

                <a href="//tetrez.nordformat.ch"
                  ><img src="/iconoir/gamepad.svg" alt="Gamepad" />{{t lang
                  "Play"}}!</a
                >
              </p>

              <img src="/tetrez.svg" class="image" alt="Tetrez" />
            </li>
          </ul>
        </div>
      </section>

      <section class="fade-in page">
        <div class="content">
          <h2 class="title">{{t lang "Education"}}</h2>

          <ul class="timeline">
            <li>
              <div class="year">2013<br />2009</div>
              <h3>BA Web Development</h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />{{t lang "Zurich"}} / London
              </p>

              <p>SAE Institute / Middlesex University</p>
            </li>

            <li>
              <div class="year">2006<br />2002</div>

              <h3>
                {{t lang "EFZ Information Technologist, Swiss Federal Diploma"}}
              </h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />Brugg
              </p>

              <p>IBZ Schulen für Technik Informatik Wirtschaft</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="fade-in page professional-experience">
        <div class="content">
          <h2 class="title">{{t lang "Professional experience"}}</h2>

          <ul class="timeline">
            <li>
              <div class="year">{{t lang "Now"}}<br />2024</div>
              <h3>Sabbatical</h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />{{t lang "Zurich"}} / Seoul
              </p>
            </li>

            <li>
              <div class="year">2017</div>
              <h3>{{t lang "Swisscom (Switzerland) Ltd"}}</h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />{{t lang "Zurich"}}
              </p>

              <p>
                Tech Lead,
                <a href="https://sdx.swisscom.com" alt="SDX"
                  >Swisscom Design System</a
                >
              </p>
            </li>

            <li>
              <div class="year">2016</div>
              <h3>Frontwerks AG</h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />{{t lang "Zurich"}}
              </p>

              <p>{{t lang "UI architect, interactive data visualizations"}}</p>
            </li>

            <li>
              <div class="year">2015</div>
              <h3>additiv AG</h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />{{t lang "Zurich"}}
              </p>

              <p>
                {{t lang "Frontend developer, design- and layout engineer
                fintech"}}
              </p>
            </li>

            <li>
              <div class="year">2012</div>
              <h3>Tamedia AG</h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />{{t lang "Zurich"}}
              </p>

              <p>
                {{t lang "Head of front end team, developing mobile webapps like
                «Tages-Anzeiger» and internal CMS"}}
              </p>
            </li>

            <li>
              <div class="year">2008</div>
              <h3>INM AG</h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />Wetzikon
              </p>

              <p>
                {{t lang "Software engineer, intranet solutions Migros
                marketing"}}
              </p>
            </li>

            <li>
              <div class="year">2006</div>
              <h3>234 AG</h3>

              <p>
                <img
                  src="/iconoir/map-pin.svg"
                  alt="{{t lang 'Location'}}"
                  class="icon"
                />{{t lang "Zurich"}}
              </p>

              <p>{{t lang "Software engineer, music-on-demand platforms"}}</p>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <a href="javascript:;" class="scroll-indicator">
      <img src="/iconoir/page-down.svg" alt="Nach unten scrollen" />
    </a>

    <script type="module" src="../src/main.ts"></script>
  </body>
</html>
