@keyframes shake {
  15% {
    transform: translateY(calc(var(--shake-y) * -1));
  }

  21% {
    transform: translateY(calc(var(--shake-y) * 0.5));
  }

  25% {
    transform: translateY(calc(var(--shake-y) * -0.5));
  }

  29% {
    transform: translateY(calc(var(--shake-y) * 0.25));
  }

  32% {
    transform: translateY(calc(var(--shake-y) * -0.25));
  }

  34%,
  100% {
    transform: translateY(0);
  }
}
