.fade-in {
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 400ms, transform 400ms;
}

.show {
  opacity: unset;
  transform: unset;
}

.margin {
  margin: 24px 0;
}

.icon {
  margin-right: var(--icon-text-spacing);
  position: relative;
  top: 2px;
}

.link-block {
  display: inline-block;
  margin: var(--page-padding-mobile) 0;
}

.link-block + .link-block {
  margin-left: 16px;
}

.background {
  position: fixed;
  width: max(200vw, 200vh);
  height: max(200vw, 200vh);
  z-index: -1;
  top: 50vh;
  left: calc((100vw - max(200vw, 200vh)) / 2);
  background-color: var(--color-palette-3);
  opacity: 0.005;
  transform-origin: top center;
  animation: rotate 120s linear infinite;
}

.background + .background {
  animation-delay: 0.5s;
}

@media print {
  .hidden-on-print {
    display: none;
  }
}

@media (max-width: 767px) {
  .fade-in.fade-in--desktop-only {
    opacity: unset;
    transform: unset;
    transition: unset;
  }
}

@media (min-width: 768px) {
  .fade-in.fade-in--mobile-only {
    opacity: unset;
    transform: unset;
    transition: unset;
  }
}

@media (min-width: 1024px) {
  .margin {
    margin: 36px 0;
  }
}
