.fade-in {
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 400ms, transform 400ms;
}

.fade-in.fade-in--mobile-only {
  @media (min-width: 768px) {
    opacity: unset;
    transform: unset;
    transition: unset;
  }
}

.fade-in.fade-in--desktop-only {
  @media (max-width: 767px) {
    opacity: unset;
    transform: unset;
    transition: unset;
  }
}

.show {
  opacity: unset;
  transform: unset;
}

.margin {
  margin: 24px 0;
}

.icon {
  margin-right: var(--icon-text-spacing);
  position: relative;
  top: 2px;
}

@media (min-width: 1024px) {
  .margin {
    margin: 36px 0;
  }
}
