.fade-in {
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 400ms, transform 400ms;
}

.show {
  opacity: unset;
  transform: unset;
}

.margin {
  margin: 24px 0;
}

@media (min-width: 1024px) {
  .margin {
    margin: 36px 0;
  }
}
