.main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.page {
  width: 360px;
  display: flex;
  flex-flow: column;
  padding: calc(var(--page-padding-mobile) / 2) var(--page-padding-mobile)
    var(--page-padding-mobile);
}

.page.intro {
  min-height: 100svh;
}

.page.intro .portrait {
  display: flex;
  flex: 1 0 0;
  overflow: hidden;
  justify-content: center;
}

.page.intro .portrait img {
  /* Cut off around arms */
  margin-bottom: -22%;

  /* Aspect ratio */
  max-width: 100%;
  object-fit: scale-down;
  object-position: bottom;
}

.page.intro .content {
  text-align: center;
}

.page.intro .language {
  position: absolute;
  top: var(--page-padding-mobile);
  left: var(--page-padding-mobile);
  text-transform: uppercase;
}

.page.intro h2 {
  margin-bottom: var(--page-padding-mobile);
}

.page > * {
  flex-shrink: 0;
  flex-grow: 0;
}

.title {
  margin-bottom: var(--page-padding-mobile);
}

.scroll-indicator {
  height: var(--page-padding-mobile);
  width: var(--page-padding-mobile);
  position: fixed;
  left: calc(50% - var(--page-padding-mobile) / 2);
  bottom: 6px;
  opacity: 0;
  transition: opacity 200ms;
  animation: shake 3s linear infinite;
}

.scroll-indicator img {
  width: 100%;
}

.image {
  border: 1px solid var(--color-palette-3);
  border-radius: 6px;
}

@media print {
  .main {
    flex-flow: unset;
    align-items: unset;
    flex-wrap: wrap;
  }

  .page {
    flex-basis: 50%;
  }

  .page.intro {
    min-height: unset;
  }

  .page.professional-experience {
    /* Make it a bit wider than 50% so that the whole timeline is visible */
    flex-basis: 75%;
  }

  /* Make all SVG icons appear dark for better visibility */
  img[src$=".svg"] {
    filter: invert(100%) brightness(0%);
  }
}

@media (min-width: 768px) {
  .page {
    width: 100%;
    max-width: 1440px;
    padding: calc(var(--page-padding-desktop) / 2) var(--page-padding-desktop)
      var(--page-padding-desktop);
    flex-flow: unset;
  }

  .page.intro {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
  }

  .page.intro .content {
    text-align: unset;
  }

  .page.intro .language {
    top: var(--page-padding-desktop);
    left: var(--page-padding-desktop);
  }

  .page.intro h2 {
    margin-bottom: var(--page-padding-desktop);
  }

  .page.intro .portrait {
    height: unset;
    justify-content: end;
  }

  .page.intro .portrait img {
    position: fixed;
    bottom: 0;
    width: unset;
    margin-bottom: unset;
    max-height: calc(100svh - var(--page-padding-desktop));
    /* Ensure portrait is never wider than its container (which would overlap the content) */
    max-width: min(
      calc(100vw / 2 - var(--page-padding-desktop)),
      calc(1440px / 2 - var(--page-padding-desktop))
    );
  }

  .page.intro .link-container {
    margin: unset;
  }

  .page > * {
    flex: 0 0 50%;
  }

  .content {
    /* Protect text from touching portrait */
    padding-right: calc(var(--page-padding-desktop) / 2);
  }

  .scroll-indicator {
    height: 36px;
    width: 36px;
    left: calc(50% - 36px / 2);
  }
}

@media (min-width: 1024px) {
  .title {
    margin-bottom: 36px;
  }
}
