*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Fira Sans Condensed;
  font-weight: 300;
  /* background: #0e1938; */
  /* background: #060d1a; */
  /* background: #010b13; */
  background: var(--color-palette-1);
  color: var(--color-palette-3);
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

h1 {
  font-size: 96px;
  font-weight: 500;
}

h2 {
  font-size: 64px;
  font-weight: 400;
}

h3 {
  font-size: 48px;
}

ul {
  list-style: none;
}

::selection {
  background: var(--color-palette-2);
}
