.container {
  width: 1440px;
  padding: 48px;
}

.container > * {
  flex: 0 0 50%;
}

.content {
  padding-right: 24px; /* protect text from touching portrait */
}

.business-card {
  margin: 15vh 0 10vh;
}

.timeline {
  padding-left: 124px;
}

.event {
  padding-bottom: 48px;
  position: relative;
}

.year {
  position: absolute;
  left: -124px;
  top: 8px;
  color: var(--color-palette-3);
}

.event::before,
.event::after {
  content: " ";
  position: absolute;
  background: var(--color-palette-3);
}

.event::before {
  width: 19px;
  height: 19px;
  top: 16px;
  left: -48px;
  border-radius: 50%;
}

.event:not(:last-of-type)::after {
  width: 1px;
  height: 100%;
  left: calc(-48px + 9px);
  top: 19px;
  opacity: 0.3;
}

.portrait {
  display: flex;
  justify-content: end;
}

.portrait img {
  position: fixed;
  bottom: 0;
  max-height: 95vh;
  max-width: calc(1440px / 2);
}
