:root {
  --color-palette-1: #081122;
  --color-palette-2: #3c4447;
  --color-palette-3: #dbdce1;

  --page-padding-mobile: 24px;
  --page-padding-desktop: 48px;

  --icon-text-spacing: 5px;
  --shake-y: 12px;
}

@media (min-width: 768px) {
  :root {
    --shake-y: 48px;
  }
}
